html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 1rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem;
}

.device-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  width: 100%;
  margin: 0.5rem 0;
}

.device-name {
  font-size: 0.95rem;
  font-weight: 600;
  color: #555;
  margin: 0 0 0.5rem 0;
}

.device-volume {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.device-volume-slider {
  flex: 1;
  margin: 0;
}

.device-volume-label {
  text-align: center;
  flex: 0 0 50px;
  color: #222;
}
